* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e9ed94;
  color: #212121;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 20px;
}

.search {
  position: relative;
  margin-bottom: 16px;
}

.search__box {
  font: inherit;
  padding: 8px 8px 8px 35px;
  min-width: 320px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 10px;
}

.search__box:focus {
  border: 2px solid #0da6d5e2;
}

.search__box:focus ~ .search__icon {
  fill: #0da6d5e2;
  rotate: 360deg;
}

.search__icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 10px;
  fill: #808080;
  transform-origin: center;
  transition: 1000ms rotate ease-in-out;
}

.country-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.country-list__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: -1px 11px 15px -11px rgba(66, 68, 90, 0.57);
  -moz-box-shadow: -1px 11px 15px -11px rgba(66, 68, 90, 0.57);
  box-shadow: -1px 11px 15px -11px rgba(66, 68, 90, 0.57);
  cursor: pointer;
}

.country-list__flag {
  margin: 10px 0 10px 0;
  width: 50px;
  border: 1px solid #808080;
  cursor: auto;
}

.country-list__description {
  font-weight: 500;
  cursor: pointer;
  padding: 5px 20px 10px 20px;

}

.country-info__heading {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  color: #0b05626f;
  cursor: none;
  pointer-events: none;
  display: block;
}

.country-info__details {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  cursor: none;
  pointer-events: none;
}

.country-list__description--unfold {
  font-weight: 700;
  font-size: 18px;
  color: #0b0562bb;
  cursor: pointer;
}

.fa-solid {
  font-size: 16px;
  margin-left: auto;
  margin-right: 10px;
  color: #808080;
  position: absolute;
  right: 10px;
  top: 10px;
  pointer-events: none;
}

