.country-list {
  max-width: 1200px;
  list-style: none;
  padding-left: 0;
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  flex-direction: column;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    // flex-basis: calc((100% - 20px) / 2);
    min-width: 320px;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: -1px 11px 15px -11px getCol('list-item-shadow');
    -moz-box-shadow: -1px 11px 15px -11px getCol('list-item-shadow');
    box-shadow: -1px 11px 15px -11px getCol('list-item-shadow');
    cursor: pointer;
  }

  &__flag {
    margin: 10px 0 10px 0;
    width: 50px;
    border: 1px solid getCol('flag-border');
    cursor: pointer;
    pointer-events: none;
  }

  &__name {
    font-weight: 500;
    cursor: pointer;
    pointer-events: none;
    padding: 5px 20px 10px 20px;
  }

  &__heading {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    color: getCol('country-list-heading');
    cursor: none;
    pointer-events: none;
    display: block;
  }

  &__details {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: getCol('list-details');
    cursor: none;
    pointer-events: none;
  }

  &__item--unfold {
    font-weight: 700;
    font-size: 18px;
    // color: #0b0562bb;
    color: get-col('country-name-unfold');
    cursor: pointer;
  }
}
